@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Press+Start+2P&family=Roboto+Mono:wght@500&family=Rubik+Iso&display=swap');

body {
    background-image: linear-gradient(to bottom right,  rgb(255, 178, 34), rgba(224, 49, 49, 0.877));
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}
header{
    background-color: aliceblue;
    margin-bottom:150px;
    height: 80px;
    padding-top: 10px;
}

.card-1{
    background-color: antiquewhite;
    border-radius: 30px;
    max-width: 500px;
    padding: 50px;
}